html {
  font-size: 62.5%;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

:root {
  --primary-color: #ff9442;
  --secondary-color: #0d215b;
  --light-color: #fff;
  --light-gray-color: #e5e5e7;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
